[submodule "catkin_simple"]
	path = catkin_simple
	url = https://github.com/catkin/catkin_simple.git
[submodule "eigen_catkin"]
	path = eigen_catkin
	url = https://github.com/ethz-asl/eigen_catkin.git
[submodule "glog_catkin"]
	path = glog_catkin
	url = https://github.com/ethz-asl/glog_catkin.git
