[submodule "catkin_simple"]
	path = catkin_simple
	url = https://github.com/catkin/catkin_simple.git
[submodule "eigen_catkin"]
	path = eigen_catkin
	url = https://github.com/ethz-asl/eigen_catkin.git
[submodule "glog_catkin"]
	path = glog_catkin
	url = https://github.com/ethz-asl/glog_catkin.git
[submodule "eigen_checks"]
	path = eigen_checks
	url = https://github.com/ethz-asl/eigen_checks.git
[submodule "gflags_catkin"]
	path = gflags_catkin
	url = https://github.com/ethz-asl/gflags_catkin.git
[submodule "minkindr"]
	path = minkindr
	url = https://github.com/ethz-asl/minkindr.git
[submodule "catkin_boost_python_buildtool"]
	path = catkin_boost_python_buildtool
	url = https://github.com/ethz-asl/catkin_boost_python_buildtool.git
